@import "../../../styles/theme";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 250px;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        overflow: auto;
        border-radius: 5px;
        padding: 20px;
        width: 50%;
        height: 90%;
        @include themed {
            background: t('primary');
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            @include themed {
                background: t('secondary');
            }
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            @include themed {
                background: t('button');
            }
        }
        .title {
            @include themed {
                color: t('text');
            }
            i {
                font-size: 14px;
                margin-right: 20px;
                font-style: normal;
                font-weight: 500;
            }
            p {
                margin: 0;
                font-size: 14px;
                font-weight: 300;
                margin-top: 10px;
                em {
                    text-decoration: underline;
                    font-style: normal;
                }
            }
            h2 {
                margin: 0;
                font-weight: 500;
                display: inline;
                font-size: 20px;
            }
        }
        .duration {
            margin-top: 30px;
            @include themed {
                color: t('text');
            }
            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
                display: inline;
            }
            p {
                strong {
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.1);
                }
                display: inline;
                font-size: 14px;
                margin: 0;
                margin-left: 10px;
            }
        }
        .members {
            margin-top: 30px;
            @include themed {
                color: t('text');
            }
            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
            & > div {
                display: inline-block;
                position: relative;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                &:hover {
                    p {
                        opacity: 1;
                    }
                }
                img {
                    width: 100%;
                    border-radius: 50%;
                }
                p {
                    color: #fff;
                    background: rgba(0, 0, 0, 0.5);
                    width: fit-content;
                    transition: all .4s;
                    opacity: 0;
                    position: absolute;
                    font-size: 12px;
                    bottom: -20px;
                    left: 0;
                    margin: 0;
                    z-index: 1;
                }
            }
        }
        .description {
            margin-top: 30px;
            @include themed {
                color: t('text');
            }
            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
            p {
                background: rgba(0, 0, 0, 0.1);
                word-break: break-all;
                padding: 10px;
                font-size: 14px;
                margin: 0;
            }
        }
        .userStory {
            display: flex;
            margin-top: 30px;
            @include themed {
                color: t('text');
            }
            & > div {
                width: 100%;
                &:first-child {
                    margin-right: 10px;
                    width: 30%;
                }
                h3 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                p {
                    background: rgba(0, 0, 0, 0.1);
                    word-break: break-all;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
        .dods {
            margin-top: 30px;
            @include themed {
                color: t('text');
            }
            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
            ul {
                list-style: none;
                padding-left: 10px;
                li {
                    padding: 10px;
                    background: rgba(0, 0, 0, 0.1);
                    margin-bottom: 5px;
                    input {
                        margin-right: 10px;
                        height: 15px;
                        width: 15px;
                    }
                }
            }
        }
    }
}