@import "../../../styles/theme";

.sprints {
    @include themed {
        background: t('primary');
    }
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        @include themed {
            background: t('secondary');
        }
    }
    &::-webkit-scrollbar-thumb {
        @include themed {
            background: t('button');
        }
    }
    flex-direction: column;
    .searchBar {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 20px 10px;
        box-sizing: border-box;
        @include themed {
            background: t('secondary');
        }
        svg {
            font-size: 22px;
            margin-right: 15px;
            opacity: .6;
            @include themed {
                color: t('text');
            };
        }
        input {
            border: none;
            outline: none;
            background: none;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            @include themed {
                color: t('text');
            }
        }
    }
    .title {
        margin-top: 40px;
        display: flex;
        align-items: center;
        @include themed {
            color: t('text');
        }
        h2 {
            margin: 0;
        }
        & > a {
            margin-left: 50px;
            display: flex;
            align-items: center;
            opacity: .6;
            padding: 0px 10px;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            svg {
                margin: 0;
                margin-right: 10px;
                padding: 5px;
                border-radius: 50%;
                @include themed {
                    color: t('primary');
                    background: t('button');
                };
            }
            p {
                @include themed {
                    color: t('text');
                };
            }
        }
    }
    .sprints {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 30px;
        .card {
            padding: 10px;
            margin: 20px 0;
            width: 30%;
            height: fit-content;
            @include themed {
                background: t('secondary');
            };
            .tools {
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-end;
                svg {
                    margin: 0px 5px;
                    font-size: 18px;
                    opacity: .6;
                    @include themed {
                        color: t('text');
                    };
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
            h6 {
                font-size: 18px;
                font-weight: 400;
                margin: 0;
                @include themed {
                    color: t('text');
                };
            }
            .time {
                display: flex;
                flex-direction: column;
                align-items: center;
                .date {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    opacity: .8;
                    @include themed {
                        color: t('text');
                    };
                    svg {
                        font-size: 5px;
                        margin: 0px 20px;
                    }
                    p {
                        margin: 20px 0 10px;
                    }
                }
                .progressBar {
                    width: 100%;
                    height: 5px;
                    border-radius: 10px;
                    overflow: hidden;
                    @include themed {
                        background: rgba(0, 0, 0, .5);
                    };
                    .done {
                        height: 5px;
                        border-radius: 10px;
                        &.progress {
                            @include themed {
                                background: t('success');
                            };
                        }
                        &.nearEnd {
                            @include themed {
                                background: t('warning');
                            };
                        }
                        &.finished {
                            @include themed {
                                background: t('error');
                            };
                        }
                    }
                }
                & > p {
                    margin-top: 10px;
                    align-self: start;
                    @include themed {
                        color: t('text');
                    };
                }
            }
            .update {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 50px;
                p {
                    opacity: .6;
                    @include themed {
                        color: t('text');
                    };
                }
                img {
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}