.sprint {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../../assets/Images/Wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    .sort {
        overflow: auto;
        width: 350px;
        background: #FFFFFF;
        height: 80%;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        padding: 20px;

        &::-webkit-scrollbar {
            width: 3px;
            background: #FFFFFF;
        }

        &::-webkit-scrollbar-track {
            background: #FFFFFF;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #F506FE;
        }

        .searchBox {
            width: 100%;
            box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
            transition: box-shadow .3s;
            border-radius: 10px;
            padding: 10px 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            margin-bottom: 80px;

            input {
                font-size: 18px;
                border-radius: 10px;
                outline: none;
                border: none;
                height: 100%;
                width: 100%;
            }

            svg {
                width: 20px;
                height: 20px;
                padding-left: 10px;
                cursor: pointer;
            }
        }

        .dropbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            .title {
                transition: all .3s;
                z-index: 1;
                cursor: pointer;
                user-select: none;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 10px 10px;
                box-sizing: border-box;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h6 {
                    font-size: 18px;
                    margin: 0;
                    font-weight: 400;
                }

                img {
                    object-fit: contain;
                    transform: rotate(90deg);
                }
            }

            .content {
                position: absolute;
                transition: all .3s;
                display: none;
                bottom: 0;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                border-radius: 10px;
                padding: 10px 20px;
                box-sizing: border-box;
                z-index: 0;

                label,
                .done {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                }
                
                input,
                .done>input {
                    accent-color: #F506FE;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    width: 20px;
                    height: 20px;
                }
            }

            .actifTitle {
                img {
                    transform: rotate(-90deg);
                }
            }

            .actifDropdown {
                display: block;
                position: relative;
            }
        }
    }

    .cards {
        display: flex;
        box-sizing: border-box;
        height: 100%;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
        width: 100%;
        padding-top: 120px;
        color: #FFFFFF;
        h2 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 30px;
            letter-spacing: 2px;
        }
        .title {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            padding: 10px;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                cursor: pointer;
            }
            h6 {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 2px;
                margin: 0;
            }
            svg {
                color: #000;
                padding: 10px;
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .boxCards {
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            & > div {
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                background: #FFFFFF;
                border-radius: 10px;
                position: relative;
                color: #000;
                padding: 20px 10px;
                margin-bottom: 20px;
                i {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }

                img {
                    object-fit: contain;
                    margin: 20px;
                }

                h6 {
                    font-size: 16px;
                    margin: 0;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}