@import "../../styles/theme";

.roadmap {
    @include themed {
        background: t('primary');
    }
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 10px;
    margin-left: 250px;
    h1 {
        font-size: 28px;
        font-weight: 500;
        @include themed {
            color: t('text');
        }
    }
    .planning {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        .header {
            display: flex;
            flex-direction: column;
            width: 30%;
            .title {
                width: 100%;
                display: flex;
                align-items: center;
                height: 70px;
                h2 {
                    padding: 10px 20px;
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: uppercase;
                    opacity: .7;
                    cursor: pointer;
                    transition: all .4s ease-out;
                    @include themed {
                        background: t('primary');
                        color: t('text');
                    }
                    &:hover {
                        opacity: 1;
                    }
                    &.activeTabTitle {
                        opacity: 1;
                        @include themed {
                            background: t('secondary');
                        }
                    }
                }
            }
            & > nav {
                display: none;
            }
            .activeTabItems {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .item {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px 0;
                height: auto;
                cursor: pointer;
                @include themed {
                    background: t('secondary');
                    color: t('text');
                }
                svg {
                    margin-right: 10px;
                    margin-left: 20px;
                }
                h4 {
                    font-size: 14px;
                    font-weight: 300;   
                    margin: 0;
                }
                &:hover {
                    @include themed {
                        background: t('button');
                        color: t('secondary');
                    }
                }
            }
        }
        .body {
            display: flex;
            cursor: grab;
            user-select: none;
            overflow: hidden;
            .quarters {
                display: flex;
                .quarter {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h4 {
                        @include themed {
                            border-right: 1px solid t('text');
                        }
                        margin: 0;
                        height: 40px;
                        @include themed {
                            color: t('text');
                        }
                    }
                    .monthes {
                        display: flex;
                        @include themed {
                            border-right: 1px solid t('text');
                        }
                        .month {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            .monthName {
                                height: 30px;
                                @include themed {
                                    color: t('text');
                                }
                            }
                            .cell {
                                background: rgba(255, 255, 255, 0.1);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                height: auto;
                                padding: 10px 0;
                                width: 200px;
                                @include themed {
                                    border-right: 1px solid t('text');
                                    border-bottom: 1px solid t('text');
                                }
                                .data {
                                    @include themed {
                                        border-top: 1px solid t('secondary');
                                        border-bottom: 1px solid t('secondary');
                                        color: t('secondary');
                                        background: t('button');
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .content {
//     display: flex;
//     width: 100%;
//     & > div {
//         display: none;
//     }
//     .activeTabItems {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//     }
//     .item {
//         display: flex;
//         transition: all .4s;
//         height: 120px;
//         width: 100%;
//         overflow-x: hidden;
//         border-bottom: 1px solid gray;
//         .name {
//             width: 30%;
//             box-sizing: border-box;
//             display: flex;
//             align-items: center;
//             padding: 25px 40px;
//             cursor: pointer;
//             @include themed {
//                 background: t('secondary');
//                 color: t('text');
//             }
//             svg {
//                 margin-right: 10px;
//             }
//             h4 {
//                 font-size: 26px;
//                 font-weight: 300;
//                 margin: 0;
//             }
//             &:hover {
//                 @include themed {
//                     background: t('button');
//                     color: t('secondary');
//                 }
//             }
//         }
//         .calendarSection {
//             width: 70%;
//             overflow-x: hidden;
//             border-left: 1px solid gray;
//             user-select: none;
//             cursor: grab;
//             display: flex;
//             &:active {
//                 cursor: grabbing;
//             }
//             @include themed {
//                 background: t('secondary');
//                 color: t('text');
//             }
//             .year {
//                 display: flex;
//                 .monthes {
//                     display: flex;
//                     .month {
//                         width: 200px;
//                         margin: 0;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }