.admin {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../../../assets/Images/Wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        margin-top: 150px;
        margin-bottom: 100px;
        text-align: center;
        h2 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 30px;
            letter-spacing: 2px;
            color: #FFFFFF;
        }
        & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                cursor: pointer;
            }
            h6 {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 2px;
                margin: 0;
                color: #fff;
            }
            svg {
                color: #000;
                padding: 10px;
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 0px 30px;
        thead {
            color: #FFFFFF;
            font-style: 20px;
            font-weight: 400;
            th:nth-child(1),
            th:nth-child(2) {
                text-align: left;
            }
        }
        tbody {
            td:first-child {
                border-radius: 10px 0 0 10px;
            }
            td:last-child {
                border-radius: 0 10px 10px 0;
            }
            td {
                padding: 20px 0;
                width: 20%;
                text-align: center;
                background: #FFFFFF;
                &:nth-child(1) {
                    text-align: left;
                    h6 {
                        margin: 0;
                        font-size: 20px;
                    }
                    p {
                        margin: 0;
                        font-size: 20px;
                        font-weight: 300;
                        opacity: .5;
                    }
                }
                &:nth-child(2) {
                    text-align: left;
                }
                &:nth-child(3) {
                    svg {
                        font-size: 30px;
                        &:hover {
                            background: rgba(0, 0, 0, .1);
                            padding: 10px;
                            border-radius: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}