.archives {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../../Assets/Images/Wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    .title {
        margin-top: 150px;
        text-align: center;
        h2 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 30px;
            letter-spacing: 2px;
            color: #FFFFFF;
        }
        & > div {
            display: flex;
            align-items: center;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                cursor: pointer;
            }
            h6 {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 2px;
                margin: 0;
                color: #fff;
            }
            svg {
                color: #000;
                padding: 10px;
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    .sprints {
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        .card {
            text-decoration: none;
            width: 25%;
            margin-bottom: 50px;
            color: #000;
            background: #FFFFFF;
            position: relative;
            border-radius: 10px;
            padding: 20px 40px;
            box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
            transition: box-shadow .3s;
            &:hover {
                box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
            i {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            h6 {
                font-size: 20px;
                margin: 0;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
                margin: 0;
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}