.users {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../../../Assets/Images/Wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .box {
        background: #FFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        align-items: center;
        width: 500px;
        margin-bottom: 20px;
        h1 {
            margin: 0;
            margin-bottom: 20px;
        }
        .upload {
            display: flex;
            flex-direction: column;
            width: 180px;
            margin-bottom: 30px;
            img {
                width: 100%;
                margin-bottom: 10px;
            }
            input {
                outline: none;
                border: 1px solid rgba(0, 0, 0, .4);
                border-radius: 3px;
                letter-spacing: 2px;
                padding: 2px 0;
                background: #FFF;
                width: 100%;
            }
        }
        label {
            font-weight: 400;
            font-size: 15px;
            width: 100%;
            color: #000;
            margin-bottom: 30px;
            input, select, option {
                display: block;
                margin-top: 5px;
                outline: none;
                border: 1px solid rgba(0, 0, 0, .2);
                border-radius: 3px;
                background: #FFF;
                letter-spacing: 1px;
                padding: 10px 20px;
                width: 100%;
                box-sizing: border-box;
                &::placeholder {
                    opacity: .8;
                }
            }
        }
        .button {
            outline: none;
            border: none;
            width: 100%;
            border-radius: 50px;
            height: 50px;
            font-weight: 600;
            font-size: 18px;
            color: #fff;
            background: linear-gradient(to left, #F506FE 0%, #05D7DF 100%);
            margin-top: 60px;
            box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
            transition: box-shadow .3s;
            &:hover {
                box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        }
    }
}